.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.main-bg {
  background-image: url(https://cdn.readme.io/public/hub/web/7ce0d53ac942392fe29ee6ed4dcedc98.png);
}
