img {
  background: linear-gradient(black, black);
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, transparent, transparent, black),
    linear-gradient(to bottom, transparent, black);
}

.genres span::after {
  content: '.';
  display: inline-block;
  width: 20px;
  text-align: center;
}
.genres span:last-child::after {
  content: '';
}

.modal {
  top: 50%;
  left: 50%;
  z-index: 1000;
}

.trailers-area{
  width: 100%;
  position: relative;
  overflow: auto;
  display: flex;
  gap: 5px;
}

.trailers-area a{
  width: 45%;
}