<section class="dark:bg-gray-800 main-bg">
    <div class="container mx-auto">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="relative -top-15"
            (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Cast">
                <app-cast-carousel></app-cast-carousel>
            </mat-tab>
            <mat-tab label="Details">
                <div class="dark:text-white mt-4">
                    <h1 class="font-black my-4">{{movieDetails.title}}</h1>

                    <div class="genres">
                        @for (genre of movieDetails.genres; track genre.id) {
                        <span class="font-bold">{{genre.name}}</span>
                        }
                    </div>

                    <h3>{{movieDetails.overview}}</h3>
                    <div class="cast my-3">
                        <h4 class="font-bold">Cast: </h4>
                        @for (author of movieCast.slice(0,5); track author.id) {
                        <span>{{author.name}}</span>
                        }
                    </div>

                    <div class="production my-3">
                        <h4 class="font-bold">Production Companies: </h4>
                        @for (company of movieDetails.production_companies; track company.id) {
                        <span>{{company.name}}</span>
                        }
                    </div>

                </div>
            </mat-tab>
            <mat-tab label="More Like This">
                <div class="mt-4">
                    <owl-carousel-o [options]="customOptions" (dragging)="isDragging = $event.dragging">
                        @for (movie of recommendations; track movie.id) {
                        <ng-template carouselSlide>
                            <a role="button" class="cursor-pointer" [owlRouterLink]="['/moviedetails',movie.id]"
                                [stopLink]="isDragging">
                                <div
                                    class="card my-3 text-center min-h-70 overflow-hidden hover:scale-105 duration-300">
                                    <img class="rounded-t-lg"
                                        src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="" />
                                    <h5 class="my-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                        {{movie.title}}
                                    </h5>
                                    <h6 class="text-start my-2 text-md tracking-tight text-gray-900 dark:text-white">
                                        {{movie.release_date}}
                                    </h6>
                                </div>
                            </a>
                        </ng-template>
                        }
                    </owl-carousel-o>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>