<section>
    <app-herosection />
    <app-main-carousel [data]="popular" movieGenre="popular" movieTitle="Popular Movies"></app-main-carousel>
    <app-main-carousel [data]="topRated" movieGenre="top_rated" movieTitle="Top Rated"></app-main-carousel>
    <app-main-carousel [data]="nowPlayingMovies" movieGenre="now_playing" movieTitle="Playing Now"></app-main-carousel>
    <app-main-carousel [data]="upcomingMovies" movieGenre="upcoming" movieTitle="Upcoming Movies"></app-main-carousel>
</section>