<div class="fixed overflow-y-scroll top-0 start-0 end-0 bottom-0 w-full bg-gray-950/80 text-center">
    <input #search (input)="showElement($event)" name="search" type="text"
        class="m-0 sm:m-4 p-4 relative top-20 rounded-2xl text-center w-[90%] justify-center"
        placeholder="Seach Movie, TV Series..">


    <section class="searchedMoviesSection mt-30 p-3">
        <div class="container mx-auto">
            <div
                class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 gap-4 justify-items-center">
                @for (movie of movies.slice(0,21); track movie.id) {
                <a role="button" class="cursor-pointer" (click)="closeSearch()"
                    [routerLink]="['/moviedetails',movie.id]">
                    <div
                        class="card text-center min-h-70 overflow-hidden hover:scale-105 duration-300 flex flex-col justify-between">
                        <img class="rounded-t-lg w-full" src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}"
                            alt="" />

                        <h5 class="my-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{movie.title}}
                        </h5>

                    </div>
                </a>
                }
            </div>
        </div>
    </section>
</div>